body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark-mode {
  background: black;
}
.dark-mode h1 {
  color: white;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  min-height: 100vh;
}
.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.note {
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #f1f1f1;
}
.note:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
.note:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}
.note:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}
.note:nth-child(4n + 4) {
  background: linear-gradient(
    90deg,
    rgb(83, 20, 255) 0%,
    rgb(255, 124, 17) 100%
  );
}
.note:nth-child(4n + 5) {
  background: linear-gradient(
    90deg,
    rgb(20, 181, 255) 0%,
    rgb(255, 124, 17) 100%
  );
}
.note.new {
  background: #67d7cc;
}
textarea {
  border: none;
  resize: none;
  background: #67d7cc;
}
textarea:focus {
  outline: none;
}
.save {
  background: #e1e1e1;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 17px;
  color: #3a7a74;
}
.save:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #1b73e6;
  background: #fff;
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete-icon {
  cursor: pointer;
}
.date {
  color: orangered;
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px 10px;
}
.delete-icon:hover {
  transform: scale(1.2);
  transition: all ease 0.5s;
  color: black;
}
.search {
  display: flex;
  align-items: center;
  background: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 1.2rem;
}
.search input {
  border: none;
  outline: none;
  background: rgb(233, 233, 233);
  padding: 8px 15px;
  font-size: 1rem;
}
.search input:focus {
  outline: none;
}
